<tr>
        <th>Nom</th>
        <th>Type</th>
        <th>Couleur</th>
        <th>Source</th>
        <th style="text-align:right">
                <a class="waves-effect waves-light btn" onclick="openForm()"><i
                        class="material-icons">add_circle_outline</i></a>
        </th>
</tr>
{% for sf in SpellFamily %}
        <tr>
                <td>{{sf['name']}}</td>
                <td>{{sf['type']}}</td>
                <td>{{sf['color']}}</td>
                <td>{{sf['source']}}</td>
                <td style="text-align:right;">
                <a class="waves-effect waves-light btn" onclick="openForm(this.id)" id="{{sf['id']}}"><i
                        class="material-icons">border_color</i></a>
                <a class="waves-effect waves-light btn modal-trigger" onclick="delMsg(this.id)" id="{{sf['id']}}"><i
                        class="material-icons">delete</i></a>
                </td>
        </tr>
{% endfor %}