<tr>
        <th class="unvisible"></th>
        <th>Nom</th>
        <th>Accessible ?</th>
        <th colspan="2">Jet alétoire</th>
</tr>
{% for career in careers %}
<tr>
        <td class="unvisible" id="characID">{{career['id']}}</td>
        <td>{{career['name']}}</td>
        <td>
                <div class="switch">
                        <label>
                                Non
                                {% if career['value'] %}
                                <input type="checkbox" checked>
                                {% else %}
                                <input type="checkbox">
                                {% endif %}
                                <span class="lever"></span>
                                Oui
                        </label>
                </div>
        </td>
        <td>
                <label for="min{{career['id']}}">Min</label>
                <input type="number" id="min{{career['id']}}" value="{{career['minRoll']}}">
        </td>
        <td>
                <label for="max{{career['id']}}">Max</label>
                <input type="number" id="max{{career['id']}}" value="{{career['maxRoll']}}">
        </td>
        <td>

        </td>
</tr>
{% endfor %}