<tr>
        <th>Nom</th>
        <th>Range</th>
        <th>Age</th>
        <th>Taille</th>
        <th>Talents aléatoires</th>
        <th>Destin</th>
        <th>Résilience</th>
        <th>Points supplémentaires</th>
        <th>Source</th>
        <th style="text-align:right">
                <a class="waves-effect waves-light btn" onclick="openForm()"><i
                        class="material-icons">add_circle_outline</i></a>
        </th>
</tr>
{% for specie in species %}
        <tr>
                <td>{{specie['name']}}</td>
                <td>{{specie['range']}}</td>
                <td>{{specie['age']}}</td>
                <td>{{specie['heigth']}}</td>
                <td>{{specie['randomTalent']}}</td>
                <td>{{specie['fate']}}</td>
                <td>{{specie['resilience']}}</td>
                <td>{{specie['fr_extra']}}</td>
                <td>{{specie['source']}}</td>
                <td style="text-align:right">
                <a class="waves-effect waves-light btn" onclick="openForm(this.id)" id="{{specie['id']}}"><i
                        class="material-icons">border_color</i></a>
                <a class="waves-effect waves-light btn modal-trigger" onclick="delMsg(this.id)" id="{{specie['id']}}"><i
                        class="material-icons">delete</i></a>
                <a class="waves-effect waves-light btn modal-trigger" onclick="openCharac(this.id)" id="{{specie['id']}}"><i
                                class="material-icons">more_vert</i></a>
                </td>
        </tr>
{% endfor %}